<div class="header-content">
  <div class="header-left">
    <div class="ui-menu-icons">
      <!-- menu icon -->
      <i class="fas fa-envelope"></i>
      <!-- calendar icon -->
      <i class="far fa-calendar-alt"></i>
      <!-- search icon -->
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div class="header-right">
    <div class="ui-menu-icons">
      <!-- dashboard icon -->
      <i class="fas fa-th-large"></i>
      <!-- message icon -->
      <i class="fas fa-message"></i>
      <!-- notification icon -->
      <i class="far fa-bell"></i>
    </div>
    <div class="user">
      <img src="https://th.bing.com/th/id/OIP.I_E7PbtIn9nS-p6YhkGqhwHaE8?rs=1&pid=ImgDetMain" alt="user">
      <div class="user-info">
        <span class="user-name">Pauline Seitz</span>
        <span class="user-role">Conseillère Phdsn</span>
      </div>
    </div>
  </div>
</div>
