.customer-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.customer-card {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(180, 129, 236, 0.1);
  border: 1px solid #F4EBFF;
}

.customer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.customer-header h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.customer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info-group {
  display: flex;
  flex-direction: column;
}

.info-group label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #333;
}

.info-group input {
  padding: 0.5rem;
  border: 1px solid #F4EBFF;
  border-radius: 6px;
  font-size: 1rem;
  color: #B481EC;
}

.info-group input:focus {
  outline: none;
  border-color: #B481EC;
  box-shadow: 0 0 0 2px rgba(180, 129, 236, 0.2);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn-back,
.btn-edit {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-back {
  padding: 10px 16px;
  background-color: #B481EC;
  color: white;
  border: none;

  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-back:hover {
  background-color: #9A68D3;
}

.btn-edit {
  background-color: #B481EC;
  color: white;
}

.btn-edit:hover:not(:disabled) {
  background-color: #9A68D3;
}

.btn-edit:disabled {
  background-color: #F4EBFF;
  color: #9A68D3;
  cursor: not-allowed;
}


.btn-doc {
  background-color: #F4EBFF; /* couleur secondaire */
  color: #B481EC; /* couleur principale pour le contraste */
  border: 1px solid #B481EC;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(180, 129, 236, 0.1);
  margin-top: 10px;
  display: inline-block;
}

.btn-doc:hover {
  background-color: #E9DAFF;
  box-shadow: 0 4px 8px rgba(180, 129, 236, 0.2);
}

.update{
  background-color: #B481EC;
  color: #ffffff;
}

.update:hover {
  background-color: #9A68D3;
}

.iso{
  text-transform: uppercase;
}

.customer-id {
  color: #B481EC;
  font-size: 14px;
  background-color: #F4EBFF;
  padding: 4px 8px;
  border-radius: 4px;
}
